{% if showReadingTime is not defined %}{% set showReadingTime = true %}{% endif %}
{% if showCommentsCount is not defined %}{% set showCommentsCount = post.showCommentsCount ?? true %}{% endif %}
{% if showSuggestEdit is not defined %}{% set showSuggestEdit = false %}{% endif %}

{% set readingTime = post.readingTime ?? post.getReadingTimeInMinutes %}
{% set url = "%s/%s"|format(site.url, post.relativeUrl) %}

<ul class="post__meta">
	<li class="post__meta-item">{{ post.getDateInFormat('d. F Y') }}</li>
	{% if showCommentsCount %}<li class="post__meta-item"><span class="disqus-comment-count" data-disqus-url="{{ url }}"></span></li>{% endif %}
	{% if showReadingTime %}<li class="post__meta-item">{{ readingTime }}min to read</li>{% endif %}
	{% if showSuggestEdit %}<li class="post__meta-item"><a href="{{ post|githubEditPostUrl }}">suggest an edit</a></li>{% endif %}
</ul>
