---
layout: "_layouts/default.twig"
title: About
---

<p>Hi, my name is Arkadiusz Kondas and I am a professional Code Craftsman from Poland. My main skills revolve around PHP and Machine Learning.</p>

<p>I am a open-source evangelist, an passionate programmer,	a pragmatist and a good teacher.</p>

<p>In my free time I run in mountain ultramarathons.</p>

<p>I want to create software that allows you to change the world.</p>

<blockquote>
	<p>Those who are crazy enough to think they can change the world usually do.</p>
</blockquote>
