---
layout: "_layouts/default.twig"
title: Workshops
---

Each of the selected workshops can be run in public or exclusive.

<h3>Event Storming Big Picture</h3>

<img src="/assets/workshops/event-storming-big-picture.jpg" alt="Event Storming Big Picture" />

<p>A complete introduction to the Event Storming and the transition through all major phases.
	A Big Picture EventStorming is one single large scale workshop that involves all the key people that we expect
	cooperate in order to solve critical business problems.</p>

<p>Publicly available:</p>
<ul>
	<li>SegFault University 2019 @ Poland (Gdańsk)</li>
</ul>


<h3>Event Modeling</h3>

<img src="/assets/workshops/event-modeling.jpg" alt="Event Modeling" />

<p>Currently one the best methods of creating information systems. It consists of several very simple patterns.
	Possible to implement for every team. Provides as the only one flat cost curve.</p>

