<!DOCTYPE html>
<html lang="en">
<head>
	{% include "_snippets/layout/head.twig" %}
</head>
<body>
	<div class="wrapper wrapper--side">
		{% include "_snippets/layout/menu.twig" %}
		{% include "_snippets/layout/siderbar_footer.twig" %}
	</div>

	<div class="wrapper wrapper--content">
		<main role="main" class="content">
			{% if title is defined %}<h1>{{ title }}</h1>{% endif %}
			{% block content %}{% endblock %}
		</main>
	</div>

	{% include "_snippets/layout/scripts.twig" %}
</body>
</html>
